extends layout

block append head
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='/javascripts/canvas.js')

block content
	h1= 'Esta usted jugando a '+ juego

	canvas#micanvas(width="563",height="468") Este texto se muestra para los navegadores no compatibles con canvas.
