extends layout

block append head
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='/javascripts/MayorMenor.js')

block content

	canvas#micanvas(width="470",height="468") Este texto se muestra para los navegadores no compatibles con canvas.
